<div class="hero-container">
  <app-header></app-header>
  <div class="hero-content">
    <div class="text-content">
      <h5>LET'S SHIFT YOUR BUSINESS</h5>
      <h1>Shift your business past with Shade Pro.</h1>
      <p>
        With lots of unique blocks, you can easily build a page without coding.
        Build your next consultancy website within few minutes.
      </p>
      <button class="btn">Get started a project</button>
    </div>
    <div class="img-content">
      <img src="assets/hero/Image.png" alt="hero-image" />
    </div>
  </div>
</div>
