<div class="testimonial-container">
  <h2>Testimonial</h2>
  <div class="testimonial">
    <p class="quote">
      "Simply the best. Better than all the rest. I’d recommend this product to
      beginners and advanced users."
    </p>
    <div class="profile">
      <img
        src="assets/testimonial/profile.png"
        alt="Ian Klein"
        class="profile-pic"
      />
      <div class="profile-info">
        <h3>Ian Klein</h3>
        <p>Aura Branding Design</p>
      </div>
    </div>
  </div>
</div>
