<div class="our-story-container">
  <div class="intro">
    <h2>OUR STORY</h2>
    <p>
      We know how everything works and why your business is failing over and
      over again.
    </p>
  </div>
  <div class="flex-container">
    <div class="flex-item">
      <img src="assets/about/1.png" alt="Image 1" class="image" />
    </div>
    <div class="flex-item double">
      <div class="double-images">
        <img src="assets/about/2.png" alt="Image 2" class="image1" />
        <img src="assets/about/3.png" alt="Image 3" class="image2" />
      </div>
      <div class="additional-info">
        <p>
          We share common trends and strategies for improving your rental income
          and making sure you stay in high demand. With lots of unique blocks,
          you can easily build a page without coding. Build your next landing
          page.
        </p>
      </div>
    </div>
  </div>
  <!-- Fact section -->
  <div class="facts-section">
    <div class="fact-item">
      <h3>1M+</h3>
      <p>Customers visit Omega every month to get their service done</p>
    </div>
    <div class="fact-item">
      <h3>92%</h3>
      <p>Satisfaction rate comes from our awesome customers</p>
    </div>
    <div class="fact-item">
      <h3>4.9/5.0</h3>
      <p>Average customer ratings we have got all over the internet</p>
    </div>
  </div>
</div>
